<footer >
    <div class="content">
        <section>
            <img id="logo" src="./img/logo_head.png" alt="logo">
            <p class="legal_txt">
                Made with love by kripalser<br>
                © 2013
            </p>
        </section>
        <section>
            <p class="small_header">Contact us</p>
            <div class="contact_box">
                <a href="mailto:hello@example.com" target="_blank" class="mail_href orange_txt">
                    hello@example.com
                </a>
                <span>
                    121 King Street, Melbourne 
                    <br>Victoria 3000 Australia
                </span>
                <span>
                    Phone:<a href="tel:+61 3 8376 6284">+61 3 8376 6284</a>
                </span>
            </div>
        </section>
        <section>
            <p class="small_header">Recent tweet</p>
            <div class="last_tweet">
                <p class="tweet_month">December</p>
                <span>
                    Testing 1, 2, 3. We've just launched version 1 of our new Envato Marketplaces Hub! Let us know what you think :) 
                    <a href="http://envatomarketplaces.com" class="orange_txt" target="_blank">http://envatomarketplaces.com</a>
                </span>
            </div>
        </section>
        <section>
            <p class="small_header">Photostream</p>
            <div class="footer_images">
                <div class="img_container"></div>
                <div class="img_container"></div>
                <div class="img_container"></div>
            </div>
        </section>
    </div>
</footer>