<header>
    <nav class="navigation">
        <img id="logo" src="./img/logo_head.png" alt="logo">
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span></label>
        <ul class="menu">
            <li>
                <a class="nav_ele" href="#" target="_self">home</a>
            </li>
            <li>
                <a class="nav_ele" href="#" target="_self">about</a>
            </li>
            <li>
                <div class="dropdown-element">
                    <span class="nav_ele dropdown_head">portfoloio</span>
                    <div class="dropdown-content">
                        <a class="nav_ele" href="#">Link 1</a>
                        <a class="nav_ele" href="#">Link 2</a>
                        <a class="nav_ele" href="#">Link 3</a>
                    </div>
                </div>
            </li>
            <li>
                <a class="nav_ele" href="#" target="_self">blog</a>
            </li>
            <li>
                <a class="nav_ele" href="#" target="_self">contact</a>
            </li>
            <li class="loop_element">
                <img src="./img/iko_search.svg" alt="loop">
                <input id="lf" placeholder="wpisz szukaną frazę">
            </li>
        </ul>
    </nav>
</header>