$mobileBreakpoint: 768px;
$smallDesktopBreakpoint: 1024px;

// content max width
$desktopMaxContent: 1170px;
$mobileMaxContent: 90%;

$reg: 400;
$bol: 600;

// colors
$normalGrey: #666666;
$lightGrey: #7d7585;
$thinGrey: #999999;
$darkGrey: #333333;
$bgPurple: #453951;
$orange:#ea623d;
$placeholderGray: #b1abb6;
$borderGrey: #e5e5e5;